alibabacloud_ecs20140526
alibabacloud_tea_openapi
alibabacloud_tea_console
alibabacloud_tea_util
Django==4.1.5
djangorestframework==3.14.0
django-cors-headers==3.13.0
markdown==3.4.1
django-filter==22.1
djangorestframework-simplejwt==5.2.2
Pillow