# python 3.11

Django==4.2.5
djangorestframework==3.14.0
django-cors-headers==4.2.0
django-filter==23.2
djangorestframework-simplejwt==5.3.0
django-apscheduler==0.6.2
django-rest-swagger==2.2.0
psycopg2==2.9.7

alibabacloud_waf_openapi20211001==2.0.2
alibabacloud_ecs20140526==3.0.8
alibabacloud_slb20140515==3.3.21
alibabacloud_tea_openapi==0.3.7
alibabacloud_tea_console==0.0.1
alibabacloud_tea_util==0.3.11
alibabacloud_alb20200616==1.0.19
alibabacloud_vpc20160428==5.1.0